# Ignored

Testavimas/Figma
Testavimas/Accessibility.docx
Testavimas/Bug_report.xlsx
Testavimas/Bug_report_v2.xlsx
Testavimas/charter.xlsx
Testavimas/payAPI16.zip
Testavimas/UI_Kontrolinis_Sarasas_LT.xlsx
Testavimas/Checklist.xlsx